body{
	background-image:url('../img/bg6.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	font-size:medium;	
}
.header {
height:150px;
	background-image:url('../img/bg2.jpg');
}
.header img{
	width: 180px;
	height: 100px;
	margin-left: 40px;
	margin-top: 30px;
}
.slideshow-container img{
box-shadow: 5px 10px 18px #3f444d;
	width:100%;
}
.L img{
width:100%;
}
.glow {
	color: #fff;
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5693bf, 0 0 40px #5693bf, 0 0 50px #5693bf, 0 0 60px #5693bf, 0 0 70px #5693bf;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #78c0f5, 0 0 40px #78c0f5, 0 0 50px #78c0f5, 0 0 60px #78c0f5, 0 0 70px #78c0f5, 0 0 80px #78c0f5;
  }
}
.wrapper {
	width:100%;
	margin:0 auto;
}
h1{
	text-align:center;
	color:white;
	margin-top:-70px;
	margin-left:80px;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
	background: #4d98d1; /* Add a  background on hover */
}


.btn {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	-webkit-box-shadow: 0px 1px 3px #4f4c4f;
	-moz-box-shadow: 0px 1px 3px #4f4c4f;
	box-shadow: 0px 1px 3px #4f4c4f;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #333;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	width: 90px;
	height: 40px;
	float: right;
	margin-top: -60px;
	margin-right: 40px;
}

.btn:hover {
  background: #629ac4;
  text-decoration: none;
}
/*login form*/


.nav{
	width:100%;
	background:#333;
	height:60px;
	border-spacing:0px;
	opacity:0.95;

}
.nav ul{
	text-align:center;
	display:inline-block;
	list-style: none;
	padding:0px;
	margin: 0px;
	position:absolute;
}
.nav ul li{

	float:left;
	margin-top:10px;
}
.nav ul li a {
	width:150px;
	color:white;
	display:block;
	text-decoration:none;
	font-size:20px;
	text-align:center;
	padding:10px;
	border-radius:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.nav a:hover{
	background:#32658c;
}
.nav ul li ul{
	background:#545454;
}
.nav ul li ul li{
	float:none;
}
.nav ul li ul{
	display:none;
}
.nav ul li:hover ul{
	display:block;
}
.intro{
	width:1100px;
	height:510px;
	background:#333;
	margin: 0 auto;
	box-shadow: 5px 10px 18px #1a1b1c;
}
.intro h1{
	padding:20px;
}
.intro img{
	
	box-shadow: 5px 5px 9px #3f444d;
}
.intro img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
  box-shadow: 5px 5px 9px #3f444d;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.L{
	width:50%;
	float:left;
	padding:10px;
}
.R p{
	width:50%;
	float:right;
	color:white;
	line-height:40px;
	padding:20px;
	text-align:justify;
}
.clear{
	clear:both;
}
.footer{
	margin-top: 30px;
	background:black;
	padding:50px;
	opacity:0.7;
}
.copyright{
	text-align:center;
}
.copyright p {
    color: white;
    font-size:15px;
    margin: 0;
}
